In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets
import pandas as pd

In [2]:
# Load first 1000 lines of data
applicant_gp_1 = pd.read_csv('Resources/MOCK_DATA_first.csv')
applicant_gp_1.head()

,first_name,last_name,state,job_title,salary,tenure,credit_score,age,sex,loan_amount,interest_rate,checking_savings,existing_debt
0,Kerrin,Thompstone,WI,Junior Executive,$31330.62,19,726,85,F,$116286.60,3.8,9297.29,$8083.40
1,Valida,Goffe,MO,Associate Professor,$34173.05,23,581,41,F,$365584.56,3.6,3333.93,$12537.18
2,Rollins,Fellon,NY,Accountant I,$55615.74,22,795,72,M,$221657.40,2.7,39.46,$55147.37
3,Grenville,McArte,WV,Analog Circuit Design manager,$36675.24,20,770,78,M,$216.20,2.6,8518.11,$9871.60
4,Micah,Yurkin,TX,Professor,$36377.32,19,360,56,M,$67730.67,3.4,5067.22,$67733.55

In [3]:
# Load second 1000 lines of data
applicant_gp_2 = pd.read_csv('Resources/MOCK_DATA_Second.csv')
applicant_gp_2.head()

,first_name,last_name,state,job_title,salary,tenure,credit_score,age,sex,loan_amount,interest_rate,checking_savings,existing_debt
0,Zachariah,Filasov,FL,Budget/Accounting Analyst III,$37138.31,14,787,70,M,$471049.84,3.8,298.35,$34126.96
1,Prudy,Aggs,IN,Marketing Manager,$31510.71,14,748,24,F,$267035.18,2.5,7761.01,$15146.32
2,Holly,Megson,LA,Senior Quality Engineer,$52158.78,9,717,74,M,$158668.63,2.5,-886.96,$47866.88
3,Marsh,Jandak,PA,VP Quality Control,$56137.11,11,579,56,M,$270814.76,2.7,1905.22,$34081.17
4,Westbrooke,Delort,FL,Product Engineer,$46404.58,7,499,74,M,$55420.65,3.8,1636.19,$11881.83

In [4]:
all_applicants = pd.merge(applicant_gp_1, applicant_gp_2, how='outer')
all_applicants.tail()

,first_name,last_name,state,job_title,salary,tenure,credit_score,age,sex,loan_amount,interest_rate,checking_savings,existing_debt
1995,Justis,Verecker,CA,Assistant Media Planner,$47328.04,2,655,28,M,$375044.52,3.1,6437.95,$72285.62
1996,Carlynne,Smowton,OH,Professor,$51287.99,11,531,54,F,$474186.63,3.4,5367.39,$59355.81
1997,Tremaine,Saw,DC,Statistician I,$33529.18,23,387,57,M,$76526.71,4.0,1987.78,$27643.72
1998,Hedda,Ravenscroft,NM,Database Administrator I,$54137.69,13,692,85,F,$85125.68,4.0,7087.27,$69989.97
1999,Dorisa,O'Kerin,NC,Technical Writer,$33961.24,25,518,57,F,$207048.62,2.6,7362.97,$25491.24

In [5]:
print(all_applicants.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 2000, dtype: bool

In [6]:
data_df = all_applicants.drop(['job_title', 'sex'],  axis=1)
data_df.head()

,first_name,last_name,state,salary,tenure,credit_score,age,loan_amount,interest_rate,checking_savings,existing_debt
0,Kerrin,Thompstone,WI,$31330.62,19,726,85,$116286.60,3.8,9297.29,$8083.40
1,Valida,Goffe,MO,$34173.05,23,581,41,$365584.56,3.6,3333.93,$12537.18
2,Rollins,Fellon,NY,$55615.74,22,795,72,$221657.40,2.7,39.46,$55147.37
3,Grenville,McArte,WV,$36675.24,20,770,78,$216.20,2.6,8518.11,$9871.60
4,Micah,Yurkin,TX,$36377.32,19,360,56,$67730.67,3.4,5067.22,$67733.55

In [7]:
#data_df.to_csv('Resources/dataOnly.csv', index=False, header=True)

In [8]:
#all_applicants.to_csv('Resources/all2000.csv', index=False, header=True)

In [7]:
data_df.dtypes

first_name           object
last_name            object
state                object
salary               object
tenure                int64
credit_score          int64
age                   int64
loan_amount          object
interest_rate       float64
checking_savings    float64
existing_debt        object
dtype: object

In [8]:
def clean_currency(x):
    """ If the value is a string, then remove currency symbol and delimiters
    otherwise, the value is numeric and can be converted
    """
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
    return(x)

In [9]:
data_df['salary'] = data_df['salary'].apply(clean_currency).astype('float')
data_df['loan_amount'] = data_df['loan_amount'].apply(clean_currency).astype('float')
data_df['existing_debt'] = data_df['existing_debt'].apply(clean_currency).astype('float')
data_df

,first_name,last_name,state,salary,tenure,credit_score,age,loan_amount,interest_rate,checking_savings,existing_debt
0,Kerrin,Thompstone,WI,31330.62,19,726,85,116286.60,3.8,9297.29,8083.40
1,Valida,Goffe,MO,34173.05,23,581,41,365584.56,3.6,3333.93,12537.18
2,Rollins,Fellon,NY,55615.74,22,795,72,221657.40,2.7,39.46,55147.37
3,Grenville,McArte,WV,36675.24,20,770,78,216.20,2.6,8518.11,9871.60
4,Micah,Yurkin,TX,36377.32,19,360,56,67730.67,3.4,5067.22,67733.55
...,...,...,...,...,...,...,...,...,...,...,...
1995,Justis,Verecker,CA,47328.04,2,655,28,375044.52,3.1,6437.95,72285.62
1996,Carlynne,Smowton,OH,51287.99,11,531,54,474186.63,3.4,5367.39,59355.81
1997,Tremaine,Saw,DC,33529.18,23,387,57,76526.71,4.0,1987.78,27643.72
1998,Hedda,Ravenscroft,NM,54137.69,13,692,85,85125.68,4.0,7087.27,69989.97
1999,Dorisa,O'Kerin,NC,33961.24,25,518,57,207048.62,2.6,7362.97,25491.24

In [10]:
data_df.dtypes

first_name           object
last_name            object
state                object
salary              float64
tenure                int64
credit_score          int64
age                   int64
loan_amount         float64
interest_rate       float64
checking_savings    float64
existing_debt       float64
dtype: object

In [11]:
data_df["DTI"] = (
    data_df["existing_debt"]/data_df["salary"])

In [12]:
data_df

,first_name,last_name,state,salary,tenure,credit_score,age,loan_amount,interest_rate,checking_savings,existing_debt,DTI
0,Kerrin,Thompstone,WI,31330.62,19,726,85,116286.60,3.8,9297.29,8083.40,0.258003
1,Valida,Goffe,MO,34173.05,23,581,41,365584.56,3.6,3333.93,12537.18,0.366873
2,Rollins,Fellon,NY,55615.74,22,795,72,221657.40,2.7,39.46,55147.37,0.991578
3,Grenville,McArte,WV,36675.24,20,770,78,216.20,2.6,8518.11,9871.60,0.269163
4,Micah,Yurkin,TX,36377.32,19,360,56,67730.67,3.4,5067.22,67733.55,1.861972
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Justis,Verecker,CA,47328.04,2,655,28,375044.52,3.1,6437.95,72285.62,1.527332
1996,Carlynne,Smowton,OH,51287.99,11,531,54,474186.63,3.4,5367.39,59355.81,1.157304
1997,Tremaine,Saw,DC,33529.18,23,387,57,76526.71,4.0,1987.78,27643.72,0.824468
1998,Hedda,Ravenscroft,NM,54137.69,13,692,85,85125.68,4.0,7087.27,69989.97,1.292814
1999,Dorisa,O'Kerin,NC,33961.24,25,518,57,207048.62,2.6,7362.97,25491.24,0.750598

In [13]:
financials = data_df.drop(['first_name', 'last_name', 'state'], axis=1)
financials

,salary,tenure,credit_score,age,loan_amount,interest_rate,checking_savings,existing_debt,DTI
0,31330.62,19,726,85,116286.60,3.8,9297.29,8083.40,0.258003
1,34173.05,23,581,41,365584.56,3.6,3333.93,12537.18,0.366873
2,55615.74,22,795,72,221657.40,2.7,39.46,55147.37,0.991578
3,36675.24,20,770,78,216.20,2.6,8518.11,9871.60,0.269163
4,36377.32,19,360,56,67730.67,3.4,5067.22,67733.55,1.861972
...,...,...,...,...,...,...,...,...,...
1995,47328.04,2,655,28,375044.52,3.1,6437.95,72285.62,1.527332
1996,51287.99,11,531,54,474186.63,3.4,5367.39,59355.81,1.157304
1997,33529.18,23,387,57,76526.71,4.0,1987.78,27643.72,0.824468
1998,54137.69,13,692,85,85125.68,4.0,7087.27,69989.97,1.292814
1999,33961.24,25,518,57,207048.62,2.6,7362.97,25491.24,0.750598

In [18]:
dti_df = financials['DTI']
dti_df.head()

0    0.258003
1    0.366873
2    0.991578
3    0.269163
4    1.861972
Name: DTI, dtype: float64

In [19]:
dti_df.to_csv('Resources/DTI.csv', index=False, header=True)

In [19]:
import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [21]:
X = financials.drop("DTI", axis=1)
y = financials["DTI"]
print(X.shape, y.shape)

(2000, 8) (2000,)

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [23]:
X_train, X_test, y_train, y_test = train_test_split(
        X, y, random_state=1)

In [24]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

ValueError: y contains previously unseen labels: [0.0008618272878549, 0.0017183549763211542, 0.00578197246305374, 0.006828886763206329, 0.011596921216640764, 0.011747699138187032, 0.014359929272833397, 0.019298284720751648, 0.025610462179640376, 0.03656776392710704, 0.03762965239541634, 0.04326084963250044, 0.06654741877292904, 0.0665603273864641, 0.07006226670451535, 0.07293604773907549, 0.07651679512864427, 0.07985968502452424, 0.08628864213132202, 0.0957097640752475, 0.09615503715654382, 0.09904691553011168, 0.10202616986286181, 0.10320596042440666, 0.10944027743508103, 0.11024710156885337, 0.11623370607867484, 0.11723091630452673, 0.123742678255918, 0.12546353778208094, 0.13102705457846017, 0.13131423736237213, 0.13478233221075844, 0.13825875882765554, 0.1414978541058997, 0.14438616167510018, 0.15234930465295243, 0.15617439347566867, 0.15658519390117212, 0.1599767586704106, 0.16374840025522153, 0.1647610980945778, 0.166798570546502, 0.16705526728520273, 0.17693134452211295, 0.17715591542062, 0.17996570350491556, 0.18373410421134959, 0.18596869496554008, 0.18839082188454695, 0.18985031754024212, 0.20023788365218345, 0.20435630256806941, 0.21318834282937396, 0.21540314870005847, 0.21557530154802795, 0.22089809731604917, 0.22743572321254596, 0.23140539112796435, 0.23217148957128692, 0.232655020129172, 0.23346175886119708, 0.23549485388443686, 0.2357423642287204, 0.24054441658775214, 0.2422056084276999, 0.24505294221399537, 0.24571230499563435, 0.24639275385433093, 0.25017159493671814, 0.2533400284790498, 0.2537790481953472, 0.25604864864631893, 0.25800319304246133, 0.2584182999985162, 0.26099180984081843, 0.2640523795826525, 0.2671179307380178, 0.2691625194545421, 0.27039208994606556, 0.29296530115158015, 0.29984935246738836, 0.30004913594756066, 0.30236134195343867, 0.30616113029574865, 0.31021764060294343, 0.31632317128122045, 0.31870527373464463, 0.32505597672076425, 0.3267193468366287, 0.3299001179086424, 0.3318204052274925, 0.3370436131253118, 0.34132166285168597, 0.3418038573346015, 0.34310142517645736, 0.3463815554986138, 0.3564058116655254, 0.35855450571362574, 0.3589415384077158, 0.3610133223006243, 0.3731064048634101, 0.37650007191993223, 0.38206986760294676, 0.3857308287652898, 0.39614863465941824, 0.4010356404021341, 0.4109535209192693, 0.4110858740307271, 0.4162275724869742, 0.4170325529423129, 0.4175231045073229, 0.4217199493400909, 0.4246958514017696, 0.4307966536505336, 0.4360195237259025, 0.437201836551528, 0.4390200559054473, 0.44662433137173935, 0.449706800193543, 0.4513717948441848, 0.4519937568320679, 0.45288398665491525, 0.45750185788810344, 0.4606856041752171, 0.46138398367119327, 0.461755769144464, 0.46946599410994994, 0.4703679990273499, 0.4706232009566133, 0.47119591623982127, 0.4813401142849747, 0.482240301341697, 0.48483394229761545, 0.4897999675734457, 0.4929287751202654, 0.49692516426417355, 0.49867568446924804, 0.5031869701167578, 0.5070160675204979, 0.5098165338998053, 0.5098717016899355, 0.5099423613548899, 0.5100778311152997, 0.5169058928878834, 0.5272205569393668, 0.5279402671573089, 0.5282058680268525, 0.5291231899146218, 0.5292601919806699, 0.53080350204091, 0.5312328623072554, 0.5356853913939668, 0.5410258499849272, 0.5462598750722429, 0.5467150390807385, 0.5492248180012235, 0.5503420548456146, 0.5574839356245948, 0.5745082627450486, 0.5755727237492643, 0.5795497794147078, 0.5824607801121974, 0.5895871837657042, 0.5923896023840952, 0.5979179720594465, 0.5992075277740193, 0.5993659267087325, 0.6061747375157343, 0.6068225220274297, 0.6094784416290585, 0.6122778711635871, 0.6236276530182571, 0.62597438695885, 0.6294876984551505, 0.6319522062506171, 0.6358930067379702, 0.6376271581713754, 0.6383734997360118, 0.6399142830412814, 0.6401088533372109, 0.6422263268093895, 0.6478587733482363, 0.6491908519061997, 0.6554890062258648, 0.6585901054521175, 0.6723468152611934, 0.6732815958887423, 0.6742714776553692, 0.6798524759388573, 0.6943190748788074, 0.6955749428063364, 0.6970024177157883, 0.6995091998881922, 0.7058077475108648, 0.7075931648241589, 0.7097066861154803, 0.7115221810603394, 0.715672360518288, 0.7206027292773701, 0.7213508216357515, 0.7216241646852523, 0.72351733542693, 0.724098434723391, 0.7246717177283447, 0.7247669722547948, 0.7252162442494806, 0.7269637270981288, 0.7299244084008917, 0.7359139553875994, 0.7372935939620783, 0.7392574662956958, 0.747948617763413, 0.7482811508454789, 0.7501646673333126, 0.7504051291647102, 0.7517960184289287, 0.754530003157687, 0.7554188846145757, 0.761082484218226, 0.7647742651539552, 0.7663321312110378, 0.7694738708097159, 0.7694775365938535, 0.7744817996209353, 0.7782673936667592, 0.7800081987339086, 0.7857046035483068, 0.794199280590562, 0.7975667251047177, 0.7988106927386622, 0.8005386909021149, 0.8055766324398348, 0.8056350876717444, 0.8058996335600657, 0.8105050361382531, 0.8106681878811774, 0.8162752517668729, 0.83179583189308, 0.8325198540875121, 0.837148249843291, 0.8401802279803159, 0.8489460289471623, 0.8603804011239393, 0.8655077533779992, 0.8678332904110119, 0.8714835482534229, 0.8798649098430864, 0.8835026760378523, 0.8840975893340667, 0.8841729929788555, 0.8863037726145852, 0.8985203217766946, 0.9034051759625625, 0.9088575936110097, 0.9105840353445327, 0.9131083549648361, 0.9152363194980018, 0.9189152656650236, 0.9337554815050002, 0.936512046732103, 0.9386683011027637, 0.9454564277054636, 0.9552024326246353, 0.9568030752971932, 0.9574484639320003, 0.9622940970581805, 0.9632639981845468, 0.9638747300837027, 0.9639799920020933, 0.9646254678877365, 0.9661116390093065, 0.971833908817512, 0.9748740420656651, 0.9785349098641909, 0.9847697906072308, 0.9903889599770136, 0.9949011974547083, 1.0064527890614274, 1.0121185981825478, 1.0134461209945795, 1.0145398745390517, 1.0159134621731343, 1.0159460104637579, 1.0207895961755193, 1.0239248533814893, 1.0274449345715109, 1.0306060628545726, 1.031344737239194, 1.034594438370222, 1.0514111064674452, 1.052864454536976, 1.053592515247981, 1.0554737268792582, 1.0566198837017406, 1.0597713639663473, 1.0634806104015595, 1.0679185060467156, 1.0704731665654756, 1.0730882970614979, 1.0745711870331331, 1.0775173050253257, 1.0822597617554277, 1.0835147944626635, 1.0876753990007253, 1.09124872830809, 1.098076653307085, 1.0990699949229568, 1.1017433653156044, 1.1020436598618728, 1.1043802842767234, 1.1062203435032383, 1.109607089333175, 1.1097021506986067, 1.1115065027473614, 1.1142240510025012, 1.1228122951256772, 1.125453754147909, 1.1291862125071728, 1.1321000406418775, 1.1340124046152171, 1.1352550792248497, 1.1365232985616724, 1.1368029692465929, 1.1374081256608564, 1.138960953365568, 1.141338266659226, 1.142476828022855, 1.1432616478359823, 1.1454759419040326, 1.1554615477573214, 1.1577476123492616, 1.160210066508837, 1.1612953516161884, 1.162130165293136, 1.1627323781730836, 1.1650839955033008, 1.1661445931702628, 1.1801552497596035, 1.1851971108424277, 1.192701394550975, 1.2040216682909488, 1.2163899387217547, 1.2225798940096617, 1.2277620606673374, 1.2282955962842268, 1.2386143393275797, 1.2386510000832212, 1.240200329584734, 1.2414640893105482, 1.2416643295003806, 1.2455450849050533, 1.2463795161593287, 1.2512859673895547, 1.2551584733064651, 1.262150149804471, 1.2662525384578138, 1.2663413839905446, 1.2696447019309975, 1.2741717098147411, 1.2758619723670201, 1.2775036778884552, 1.2780866350011624, 1.2814547208835325, 1.2823561764779006, 1.2832137278492821, 1.2983552578640238, 1.3066262560170905, 1.3066648028595649, 1.3080353410496417, 1.3111561019020586, 1.312672482504954, 1.3143008460221601, 1.3275364122607722, 1.3314378119467378, 1.3363014714564179, 1.3368486264751114, 1.3435680112828285, 1.3531016328507517, 1.3601338704302566, 1.361732216977908, 1.3677700230412573, 1.370247095205487, 1.3769143852316597, 1.381731590232793, 1.3822579095823184, 1.3895231002867525, 1.3902104502993051, 1.3971636616693197, 1.4001897531350835, 1.423537803108055, 1.4297653402311676, 1.4307741612442897, 1.4312493577366545, 1.437652957365097, 1.4480560286832014, 1.4517294798365814, 1.4618376327746332, 1.4667303697956817, 1.4683959701892504, 1.468976278122231, 1.4704412846986974, 1.4747766596365044, 1.474998201160257, 1.4781409298536003, 1.4833195698662578, 1.4897558372248163, 1.4908907363222543, 1.5046435903482387, 1.5102404905220916, 1.514824235235435, 1.5261446355952937, 1.5332106130165302, 1.5362229185290834, 1.540234160617523, 1.548574580116654, 1.5810988321371384, 1.581232049798842, 1.5843535665931043, 1.5867983338270963, 1.6044920908889093, 1.6147829283825712, 1.6220894541454043, 1.6222598844996114, 1.632402299972826, 1.6395753928737282, 1.650071188965505, 1.6616680618240598, 1.6657863068526952, 1.6708072798180045, 1.680830558108661, 1.6876560701658403, 1.687705761472098, 1.6899760860431854, 1.6929965270989331, 1.6931636017454683, 1.6935771721124764, 1.694296804397198, 1.7012181461775413, 1.7016012651897596, 1.7021719993000497, 1.726416183973868, 1.726584458386631, 1.7387474381345491, 1.7446460827710533, 1.7488031538298514, 1.7513308997784405, 1.783749081936203, 1.7923917595869228, 1.8054478841963828, 1.821307260305836, 1.8228811779654877, 1.8267363523551758, 1.8351875408991851, 1.8545449627669914, 1.85989609251155, 1.869024620303026, 1.8859106193454644, 1.903207062945091, 1.911162494365252, 1.9251726218446121, 1.9325439293974034, 1.9384043418342947, 1.9406731598401274, 1.9430157653492723, 1.9481721449904743, 1.9486857634571586, 1.9543041824845147, 1.9577247370736504, 1.974923888833389, 1.9867145316156845, 1.9875026143452068, 1.988349895439882, 1.991774671633403, 2.0058153814023303, 2.0375928942588786, 2.0405874513681406, 2.0635683910638014, 2.0636014793401993, 2.0824385538674615, 2.096042208670558, 2.098602537078627, 2.1036976534201153, 2.1089299989333306, 2.109110136619636, 2.1189307248402036, 2.141923825410064, 2.152945029193573, 2.345152907081301, 2.3463786517996046, 2.3581168181734995, 2.378121892618572, 2.378801712797159, 2.433382080119058, 2.450939327937995, 2.4753759839306473, 2.4777514345137037, 2.478928197063157, 2.630468759343196, 2.7634865226343157]

In [26]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

NameError: name 'encoded_y_test' is not defined